.error-page {
   margin-top: 50px;
}

.error-page-content {
   width: 100%;
   display: flex;
   justify-content: center;
}

.link-404 {
   @extend .error-page-content;
}

.image404 {
   max-width: 640px;
   height: auto;

   img {
      width: 100%;
   }
}

.text-error-page {
   margin-top: 50px;
   font-size: 25px;
   background-color: white;
   height: 100px;
   border-radius: 25px;
   line-height: 100px;
   width: 300px;
   text-align: center;
}

@media #{$medium} {
   .error-page-content {
      @include verticalCenter();
   }
}